.nav {
  background-color: #eee;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav h1 {
  color: #595a59ee;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.formSection {
  border: 2px solid red;
  width: 50%;
  min-width: 300px;
  margin: 10px auto;
  margin-top: 0;
  border: 2px solid #eee;
  box-shadow: 0px 2px 3px #dfe7dfee;
  padding: 20px;
}
