.nav {
  background-color: #eee;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  color: #595a59ee;
}

.formSection {
  border: 2px solid red;
  width: 50%;
  min-width: 300px;
  margin: 10px auto;
  margin-top: 0;
  border: 2px solid #eee;
  box-shadow: 0px 2px 3px #dfe7dfee;
  padding: 20px;
}

.formSection h2 {
  text-align: center;
  color: #595a59ee;
  font-size: 18px;
}

.formContainer {
  /* background-color: green; */
  padding: 20px 0;
}

.formContainer form > div {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
}

.formContainer form > div label {
  font-size: 12px;
}

.formContainer form > div input {
  padding: 5px 10px;
}

.formContainer form > div button {
  background-color: #ccc;
  color: #595a59ee;
  padding: 5px 10px;
  outline: 0;
  border: 0;
}

.formContainer form > div button:hover {
  background-color: #ccc;
  opacity: 0.5;
  cursor: pointer;
}
